@page
@model eshop.website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h2>About<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    This website a demo of a micro-services implementation using the <a href="https://dapr.io">Dapr</a> technology
                </div>
                <div>
                    Source code of the website can be found here: <a href="https://github.com/lgmorand/dapr-eshop">https://github.com/lgmorand/dapr-eshop</a>
                </div>
                <div>
                    <br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>