@page
@model IndexModel
@{
    ViewData["Title"] = "Eshop Website";
}

<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="img/icons/delivery.png" alt="">
                    <p>Free shipping on orders over $30 in USA</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="img/icons/voucher.png" alt="">
                    <p>20% Student Discount</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                    <img src="img/icons/sales.png" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="img/slider-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="img/slider-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="img/slider-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@if (Model.Products == null)
{
    <section class="latest-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>There are no products</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{

    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="*">All</li>
                            <li data-filter=".white">White</li>
                            <li data-filter=".blue">Blue</li>
                            <li data-filter=".yellow">Yellow</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="product-list">
                @foreach (eshop.common.Product p in Model.Products)
                {
                    <div class="col-lg-3 col-sm-6 mix all dresses @p.Category">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/-@(p.Id)"><img src="img/products/img-@(p.Id).jpg" alt=""></a>
                                <div class="p-status">new</div>
                            </figure>
                            <div class="product-text">
                                <h6>@p.Name</h6>
                                <p>$@p.Price</p>
                            </div>
                        </div>
                    </div>
                }
                @*<div class="col-lg-3 col-sm-6 mix all dresses bags">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/1"><img src="img/products/img-1.jpg" alt=""></a>
                                <div class="p-status">new</div>
                            </figure>
                            <div class="product-text">
                                <h6>Green Dress with details</h6>
                                <p>$22.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all dresses bags red">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/2"><img src="img/products/img-2.jpg" alt=""></a>
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <h6>Yellow Maxi Dress</h6>
                                <p>$25.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all shoes accesories blond">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/3"><img src="img/products/img-3.jpg" alt=""></a>
                                <div class="p-status">new</div>
                            </figure>
                            <div class="product-text">
                                <h6>One piece bodysuit</h6>
                                <p>$19.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all shoes accesories red">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/4"><img src="img/products/img-4.jpg" alt=""></a>
                                <div class="p-status popular">popular</div>
                            </figure>
                            <div class="product-text">
                                <h6>Blue Dress with details</h6>
                                <p>$35.50</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all dresses shoes red">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/5"><img src="img/products/img-5.jpg" alt=""></a>
                                <div class="p-status">new</div>
                            </figure>
                            <div class="product-text">
                                <h6>Green Dress with details</h6>
                                <p>$22.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all accesories bags blond">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/6"><img src="img/products/img-6.jpg" alt=""></a>
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <h6>Yellow Maxi Dress</h6>
                                <p>$25.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all dresses bags red">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/7"><img src="img/products/img-7.jpg" alt=""></a>
                            </figure>
                            <div class="product-text">
                                <h6>One piece bodysuit</h6>
                                <p>$19.90</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mix all accesories bags blond">
                        <div class="single-product-item">
                            <figure>
                                <a href="/Product/8"><img src="img/products/img-8.jpg" alt=""></a>
                                <div class="p-status popular">popular</div>
                            </figure>
                            <div class="product-text">
                                <h6>Blue Dress with details</h6>
                                <p>$35.50</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>
}